<div class="container">
    <table class="table">
      <thead>
        <tr>
          <th>Database</th>
          <th>Old</th>
          <th>New</th>
        </tr>
      </thead>
      <tbody>
        <form action='/dbs' method='post'>
          <input type="hidden" name="_method" value="patch">
          <input type="hidden" name="id" value="<%= @db.id %>">
          <tr>
            <td>Name</td>
            <td>
              <% if @db %>
                <%= @db.name %>
              <% else %>
                N/A
              <% end %>
              </td>
              <td>
            <input type="text" name="name" placeholder="New name">
          </td>
        </tr>
        <tr>
          <td>Project</td>
          <td>
            <% if @project %>
              <%= @project.name %>
            <% else %>
              N/A
            <% end %>
          </td>
          <td>
            <select  name="project_id">
            <% for @project in @projects %>
              <% if @project.active %>
                <option value="<%= @project.id %>"><%= @project.name %></option>
              <% end %>
            <% end %>
           </select>
          </td>
        </tr>
        <tr>
          <td>Type</td>
          <td>
            <% if @db %>
              <%= @db.type %>
            <% else %>
              N/A
            <% end %>
          </td>
          <td>
            <input type="text" name="type" placeholder="New type">
          </td>
        </tr>
        <tr>
          <td>Server</td>
          <td>
            <% if @db %>
              <%= @db.server %>
            <% else %>
              N/A
            <% end %>
          </td>
          <td>
            <input type="text" name="server" placeholder="New server">
          </td>
        </tr>
        <tr>
          <td>
            <input type="submit" value="Update" class="btn btn-primary">
          </td>
          <td>
          </form>
          <form action="/dbs/<%= @db.id %>" method='post'>
            <input type="hidden" name="_method" value="delete">
            <input type="submit" value="Inactive" class="btn btn-primary">
          </form>
          </td>
        </tr>
      </tbody>
    </table>
  </form>
</div>
