<div class="container">
  <legend> Edit Database </legend>

  <form action='/dbs' method='post'>
    <input type="hidden" name="_method" value="patch">
    <input type="hidden" name="id" value="<%= @db.id %>">
    <div class="form-group row">
      <label class="col-md-offset-3 col-md-5 control-label col-md-offset-3">Name</label>
      <div class="col-md-offset-3  col-md-5 inputGroupContainer col-md-offset-3">
        <div class="input-group">
          <span class="input-group-addon">
            <i class="glyphicon glyphicon-briefcase"></i>
          </span>
          <input name="name" placeholder="<%= @db.name %>" class="form-control" type="text">
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-md-offset-3 col-md-5 control-label col-md-offset-3">Project Name</label>
      <div class="col-md-offset-3  col-md-5 inputGroupContainer col-md-offset-3">
        <div class="input-group">
          <span class="input-group-addon">
            <i class="glyphicon glyphicon-list"></i>
          </span>
          <select name="project_id" class="form-control selectpicker" >
            <% for @p in @projects %>
               <% if @p.active %>
                  <option value="<%= @p.id %>"><%= @p.name %></option>
              <% end %>
            <% end %>
          </select>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-md-offset-3 col-md-5 control-label col-md-offset-3">SKU Name</label>
      <div class="col-md-offset-3  col-md-5 inputGroupContainer col-md-offset-3">
        <div class="input-group">
          <span class="input-group-addon">
            <i class="glyphicon glyphicon-barcode"></i>
          </span>
          <select name="sku_id" class="form-control selectpicker" >
            <% for @s in @skus %>
               <% if @s.active %>
                  <option value="<%= @s.id %>"><%= @s.name %></option>
              <% end %>
            <% end %>
          </select>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-md-offset-3 col-md-5 control-label col-md-offset-3">Type</label>
      <div class="col-md-offset-3  col-md-5 inputGroupContainer col-md-offset-3">
        <div class="input-group">
          <span class="input-group-addon">
            <i class="glyphicon glyphicon-tree-conifer"></i>
          </span>
          <input name="type" placeholder="<%= @db.type %>" class="form-control"  type="text">
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-md-offset-3 col-md-5 control-label col-md-offset-4">Server</label>
      <div class="col-md-offset-3  col-md-5 inputGroupContainer col-md-offset-4">
        <div class="input-group">
          <span class="input-group-addon">
            <i class="glyphicon glyphicon-list-alt"></i>
          </span>
          <input name="server" placeholder="<%= @db.server %>" class="form-control"  type="text">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-3">
        <button type="submit" class="btn btn-success" >Update</button>
      </form>
    </div>
    <div class="col-md-3">
      <form action="/dbs/<%= @db.id %>" method='post'>
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Deactivate" class="btn btn-primary">
      </form>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
<br>
