<div class="container">
  <legend><%= @db.name %></legend>
  <p>
    <b>Active:</b> <%= @db.active %><br>
    <% if @projects %>
    <b>Project:</b> <a href="/projects/<%= @projects.id %>" ><%= @projects.name %></a>
    <% else %>
    <b>Project:</b> Unknown
    <% end %><br>
    <b>Last updated:</b>
    <% if @update_time %>
      <%= @update_time.asctime %>
    <% else %>
      Unknown
    <% end %><br>
    <b><a href="/db/<%= @db.id %>/edit">Edit</a></b>
  </p>

  <table class="table" style='table-layout:fixed'>
    <thead>
      <tr>
        <th>Size</th>
        <th>Type</th>
        <th>Server</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <%= DataUtil.average_value(@db_size) %>
        </td>
        <td>
          <%= @db.type %>
        </td>
        <td>
          <%= @db.server %>
        </td>
      </tr>
    </tbody>
  </table>
  <br>
  <br>
</div>
