<div class="container">
  <legend>
    <h2><%= @db.name %> -
      <a href="/db/<%= @db.id %>/edit">Edit</a>
    </h2>
  </legend>

  <p>
    <% if @projects %>
      <b>Project:</b> <a href="/projects/<%= @projects.id %>" ><%= @projects.name %></a>
    <% else %>
      <b>Project:</b> Unknown
    <% end %><br>
    <b>Last updated:</b>
    <% if @update_time %>
      <%= @update_time.asctime %>
    <% else %>
      Unknown
    <% end %> <br>
    <%= @db.active ? "Active" : "Inactive" %> <br>
  </p>

  <h3>Database Data</h3>
  <table class="table">
    <thead>
      <tr>
        <th>Size</th>
        <th>Type</th>
        <th>Server</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <%= DataUtil.unit_conversion('DBSize',DataUtil.average_value(@db_size)) %>
          GB
        </td>
        <td>
          <%= @db.type %>
        </td>
        <td>
          <%= @db.server %>
        </td>
      </tr>
    </tbody>
  </table>
</div>
