<div class="container">
  <h2>Database: <%= @db.name %> -
    <a href="/db/<%= @db.id %>/edit">edit</a>
  </h2>

  <p>
    Active: <%= @db.active %><br>
    <% if @project %>
    Project: <a href="/projects/<%= @project.id %>" ><%= @project.name %></a>
    <% else %>
    Project: Unknown
    <% end %><br>
    SKU: <%= @sku.name %><br>
    Last updated:
    <% if @update_time %>
      <%= @update_time.asctime %>
    <% else %>
      Unknown
    <% end %>
  </p>

  <h4>Database Data</h4>
  <table class="table">
    <thead>
      <tr>
        <th>Size</th>
        <th>Type</th>
        <th>Server</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <%= DataUtil.average_value(@db_size) %>
        </td>
        <td>
          <%= @db.type %>
        </td>
        <td>
          <%= @db.server %>
        </td>
      </tr>
    </tbody>
  </table>

  <br>
  <br>
</div>
