<div class="container">
  <form action='/clients/<%= @client.id %>/billing' name="changeDate" method='post' onsubmit="return validateForm()">
    <h2>
      <a href="/clients/<%= @client.id %>">
        <%= @client.name %>
      </a>- Billing
    </h2>
    <div class="row">
      <div class="col-sm-4">
        <label class="control-label">Start Date</label>
        <div class="form-group">
          <div class="input-group date" id="startdate">
            <input type="text" name="startdate" class="form-control" />
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
        </div>
        <input type="submit" value="Search" class="btn btn-primary">
      </div>

      <div class="col-sm-4">
        <label class="control-label">End Date</label>
        <div class="form-group">
          <div class="input-group date" id="enddate">
            <input type="text" name="enddate" class="form-control" />
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
        </div>
      </div>
    </div>
    <br>

    <% if @projects.empty? %>
      <p>
        <%= @client.name %> has no projects
      </p>
    <% else %>
      <% if @client.name != 'default' %>
      <h4>For time period:  <%= @v_start_date.strftime("%m/%d/%Y") %> - <%= @v_end_date.strftime("%m/%d/%Y") %></h4>
        <table class="table">
          <thead>
            <tr>
              <th>Item</th>
              <th>Description</th>
              <th>Qty</th>
            </tr>
          </thead>
          <tbody>
            <% @total_hash = {} %>
            <% @data.each do |res_type, entire_hash| %>
              <% if entire_hash[0].empty? %>
                <tr>
                  <td> There are no <%= res_type == "db" ? "Database" : res_type.capitalize %> resources </h4> </td>
                </tr>
              <% else %>
                <% @keys = [] %>
                <% entire_hash[0].each { |name,value| @keys.push(value.keys) }%>
                <% @keys = @keys.uniq %>
                <% @keys[0].each do |key| %>
                  <% next if %w(id DiskTemplate).include?(key) %>
                  <% @total_hash[key] ||= {} %>
                  <% entire_hash[0].each do |res_name, res_hash| %>
                    <%  val = res_hash.values_at(key)  %>
                    <% @total_hash[key][res_name] = val %>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
            <% unless @total_hash.empty? %>
              <% @total_hash.each do |plugin, hash| %>
                <% hash.each do |name, value| %>
                  <tr>
                    <td><%= plugin == "DBSize" ? "Database" : plugin %></td>
                    <td><%= name %></td>
                    <td><%= val = DataUtil.unit_conversion(plugin,value[0]) %></td>
                  </tr>
                <% end %>
                <tr>
                  <td></td><td></td>
                  <td><b><%= plugin %> Total:</b> <%= @sum_data.values_at(plugin)[0] %></td>
                  <td></td>
                </tr>
                <tr class="blank_row">
                  <td colspan="3"></td>
                </tr>
                <tr class="blank_row">
                  <td colspan="3"></td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      <% end %>
    <% end %>
  </form>
</div>

<script>
  $("#startdate").datetimepicker({
    useCurrent: false
  }).on('dp.show', function() {
    return $(this).data('DateTimePicker').defaultDate(new Date());
  });
  $("#enddate").datetimepicker({
    useCurrent: false
  }).on('dp.show', function() {
    return $(this).data('DateTimePicker').defaultDate(new Date());
  });

  function validateForm(){
    var x = document.forms["changeDate"]["startdate"].value;
    var y = document.forms["changeDate"]["enddate"].value;

    if (x == null || x == "" || y == null || y == ""){
      alert("Please enter a start date and an end date")
      return false;
    }
    if (x > y) {
      alert("Invalid Date Range:\n Start Date must be before End Date");
      return false;
    }

  }
</script>
