<div class="container">
       <form action='/clients' method='post'>
         <input type="hidden" name="_method" value="patch">
         <input type="hidden" name="id" value="<%= @client.id %>">
         <table class="table">
           <thead>
             <tr>
               <th>Name</th>
               <th>Old</th>
               <th>New</th>
             </tr>
           </thead>
           <tbody>
             <tr>
               <td>name</td>
               <td>
                 <% if @client %>
                   <%= @client.name %>
                 <% else %>
                   N/A
                 <% end %>
               </td>
               <td>
                 <input type="text" name="name" placeholder="New name">
               </td>
             </tr>
             <tr>
               <td>contact_name</td>
               <td>
                 <% if @client %>
                   <%= @client.contact_name %>
                 <% else %>
                   N/A
                 <% end %>
               </td>
               <td>
                 <input type="text" name="contact_name" placeholder="New contact_name">
               </td>
             </tr>

             <tr>
               <td>description</td>
               <td>
                 <% if @client %>
                   <%= @client.description %>
                 <% else %>
                   N/A
                 <% end %>
               </td>
               <td>
                 <input type="text" name="description" placeholder="New description">
               </td>
             </tr>
             <tr>
               <td>contact_email</td>
               <td>
                 <% if @client %>
                   <%= @client.contact_email %>
                 <% else %>
                   N/A
                 <% end %>
               </td>
               <td>
                 <input type="text" name="contact_email" placeholder="New contact_email">
               </td>
             </tr>
             <tr>
               <td>Active state</td>
               <td>
                 <% if @client %>
                   <%= @client.active %>
                 <% else %>
                   N/A
                 <% end %>
               </td>
               <td>
                 <input type="radio" name="active" value="True"> True
                 <input type="radio" name="active" value="False"> False
               </td>
             </tr>
           </tbody>
         </table>
         <% unless @client.active %>
          <input type="hidden" name="_method" value="delete">
         <% end %>
         <input type="submit" value="Update" class="btn btn-primary">
         <%= puts @client.active %>
       </form>
     </div>
   </div>
   <br>
