<div class='container'>
<legend>
  <h2><%= @client.name %> -
    <a href="/clients/<%= @client.id %>/billing"> Billing </a>
  </h2>
</legend>
<p>
    <b>Name:</b> <%= @client.contact_name %> <br>
    <b>Email:</b> <%= @client.contact_email %> <br>
    <b>Description:</b> <%= @client.description %> <br>
    <b><a href="/clients/<%= @client.id %>/edit"> Edit</a></b></br>
</p>
<br>

<% unless @client.name == 'default' %>
  <% @resource_data.each do |resource_type, data_arrays| %>
    <h4> <%= resource_type == 'db' ? 'Database' : resource_type.capitalize %></h4>
    <table class="table">
      <thead>
        <%# Traverse two arrays deep to get all the keys from the secondary
            hash then flatten the array of keys and get one copy of each key %>
        <% @keys = data_arrays.map { |other_a| other_a[0].map { |k, v| v.keys } } %>
        <% @keys.flatten!.uniq! %>
        <tr>
          <% if @keys.empty? %>
            <h6> There are no
              <%= resource_type == 'db' ? 'database' : resource_type %>
              resources </h6>
          </thead>
        </table>
         <% else %>
          <%# Humanize key headers %>
          <th>
            Name
          </th>
          <% @keys.each do |key| %>
            <% next if key == 'id' %>
            <% if key == 'DBSize' %>
              <th>
                Database Size
              </th>
            <% elsif key == 'VCPUCount' %>
              <th>
                CPU Count
              </th>
            <% else %>
              <th>
                <%= key.scan(/[A-Z][a-z]+/).reject(&:empty?).join(' ') %>
              </th>
            <% end %>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% data_arrays.each do |items| %>
          <% items[0].each do |project_name, hash_values| %>
            <tr>
              <td>
                <%= project_name %>
              </td>
              <% hash_values.each do |key, value| %>
              <% next if key == 'id' %>
                <td> <%= value %> </td>
              <% end %>
            </tr>
          <% end %>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <% if @keys.nil? %>
            There are no resources
          <% else %>
            <td><b>Total:</b></td>
            <% @keys.each do |k| %>
              <% next if k == 'id'%>
              <td>
                <b>
                  <%= @sum_data[k] unless !@sum_data.has_key?(k) %>
                  <%= "GB" unless %w(DiskTemplate VCPUCount ).include?(k) %>
                </b>
              </td>
            <% end %>
          <% end %>
        </tr>
      </tfoot>
    </table>
    <% end %>
    <br>
  <% end #resource_data %>
<% end #unless%>
</div>
