<div class="container">
<h2> Client: <%= @client.name %>
<a href="/clients/<%= @client.id %>/edit">edit</a>
</h2>
<p>
    Name: <%= @client.contact_name %> <br>
    Email: <%= @client.contact_email %> <br>
    Description: <%= @client.description %> <br>
    <%= @client.active ? 'Active' : 'Inactive' %>
</p>

<% if @projects.empty? %>
  <p>
    <%= @client.name %> has no projects
  </p>
<% else %>
  <table class="table">
    <% if @client.name != 'default' %>
    <h4>Summary</h4>
    (Last 30 days)
    <tr>
      <td>
        <table class="table">
          <thead>
            <tr>
              <th>Nodes</th>
              <th>Ram (GB)</th>
              <th>VCPU </th>
              <th>Disk Size (GB)</th>
              <th>DRBD</th>
            </tr>
          </thead>
          <tbody>
            <% for @project in @projects %>
              <% for @node in @project.node_resources %>
                <% if @node.active %>
                  <tr>
                    <td>
                      <a href="/node/<%= @node.id %>" >
                        <%= @node.name %>
                      </a>
                    </td>
                    <% data = DiskTemplate.new.report({node: @node.name}) %>
                    <% if data != nil && data.last != nil %>
                      <% disk_template = 'Yes' if data.last[:value] == 'drbd' %>
                    <% else %>
                      <% disk_template = 'No' %>
                    <% end %>
                    <td>
                      <% data = RamSize.new.report({node: @node.name}) %>
                      <%= DataUtil.average_value(data) %>
                    </td>
                    <td>
                      <% data = VCPUCount.new.report({node: @node.name}) %>
                      <%= DataUtil.average_value(data) %>
                    </td>
                    <td>
                      <% data = DiskSize.new.report({node: @node.name}) %>
                      <%= DataUtil.average_value(data) %>
                    </td>
                    <td>
                      <% disk_template %>
                    </td>
                  </tr>
                <% end %>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <td>
        <table class="table">
          <thead>
            <tr>
              <th>Database</th>
              <th>Size (GB)</th>
              <th>Project</th>
            </tr>
          </thead>
          <tbody>
            <% for @project in @projects %>
              <% for @db in @project.db_resources %>
                <% if @db.active %>
                <tr>
                  <td>
                    <a href="/db/<%= @db.id %>" >
                      <%= @db.name %>
                    </a>
                  </td>
                  <td>
                    <% data = DBSize.new.report({db: @db.name}) %>
                    <%= DataUtil.average_value(data) %>
                  </td>
                  <td>
                    <a href="/projects/<%= @project.id %>" >
                      <%= @project.name %>
                    </a>
                  </td>
                </tr>
                <% end %>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </td>
    </tr>
    <% end %>
  </table>
<% end %>
</div>
