<div class="container">
<h2> Client: <%= @client.name %>
<a href="/clients/<%= @client.id %>/edit">edit</a>
</h2>
<p>
    Name: <%= @client.contact_name %> <br>
    Email: <%= @client.contact_email %> <br>
    Description: <%= @client.description %> <br>
    Active: <%= @client.active %>
</p>

    <table class="table">
        <h4> Projects </h4>
        <thead>
            <tr>
                <th> Name</th>
                <th> Description</th>
                <th> Active</th>
            </tr>
        </thead>
        <tbody>
         <% for @project in @projects %>
           <% if @project.active %>
            <tr>
                <td>
                    <a href="/projects/<%= @project.id %>" >
                        <%= @project.name %>
                    </a>
                </td>
                <td>
                    <%= @project.description %>
                </td>
                <td>
                    <%= @project.active %>
                </td>
            </tr>
            <% end %>
        <% end %>
    </tbody>
  </table>


<br>

    <table class="table">
        <h4> Nodes </h4>
        <thead>
            <tr>
                <th> Name</th>
                <th> Type</th>
                <th> Cluster</th>
                <th> Active</th>
            </tr>
        </thead>
        <tbody>
        <% for @node in @nodes %>
             <% if @node.active %>
                <tr>
                    <td>
                        <a href="/nodes/<%= @node.id %>" >
                             <%= @node.name %>
                        </a>
                    </td>
                    <td>
                        <%= @node.type %>
                    </td>
                    <td>
                        <%= @node.cluster %>
                    </td>
                    <td>
                        <%= @node.active %>
                    </td>
                </tr>
            <% end %>
      <% end %>
      </tbody>
</table>

<br>

    <table class="table">
    <h4> Databases </h4>
     <thead>
           <tr>
             <th> Name</th>
             <th> Type</th>
             <th> Server</th>
             <th> Active</th>
            </tr>
    </thead>
    <tbody>
       <% for @db in @dbs %>
           <% if @db.active %>
             <tr>
                <td>
                   <a href="/dbs/<%= @db.id %>" >
                     <%= @db.name %>
                   </a>
                </td>
                <td>
                     <%= @db.type %>
                </td>
                <td>
                     <%= @db.server %>
                </td>
                <td>
                    <%= @db.active %>
                </td>
              </tr>
          <% end %>
      <% end %>
   </tbody>
</table>
<br>

</div>
