<div class="container">
<h2> Client: <%= @client.name %>
<a href="/clients/<%= @client.id %>/edit">edit</a>
</h2>
<p>
    Name: <%= @client.contact_name %> <br>
    Email: <%= @client.contact_email %> <br>
    Description: <%= @client.description %> <br>
    <%= @client.active ? 'Active' : 'Inactive' %>
</p>
<% unless @projects.nil? %>
  <table class="table">
    <h4> Projects </h4>
        <thead>
            <tr>
                <th> Name</th>
                <th> Description</th>
                <th> Status</th>
            </tr>
        </thead>
        <tbody>
         <% for @project in @projects %>
            <tr>
                <td>
                    <a href="/projects/<%= @project.id %>" >
                        <%= @project.name %>
                    </a>
                </td>
                <td>
                    <%= @project.description %>
                </td>
                <td>
                    <%= @project.active ? 'Active' : 'Inactive' %>
                </td>
            </tr>
           <td>
           <table class="table">
            <h5>Nodes</h5>
            <thead>
                <tr>
                    <th> Node Name</th>
                    <th> Type</th>
                    <th> Cluster</th>
                    <th> Status</th>
                </tr>
            </thead>
            <tbody>
            <% for node in @project.node_resources %>
                <% if node.active %>
                    <tr>
                        <td>
                            <a href="/nodes/<%= node.id %>" >
                                <%= node.name %>
                            </a>
                        </td>
                        <td>
                            <%= node.type %>
                        </td>
                        <td>
                            <%= node.cluster %>
                        </td>
                        <td>
                            <%= node.active ? 'Active' : 'Inactive' %>
                        </td>
                    </tr>
                <% end %>
            <% end %>
           </tbody>
          </table>

          <table class="table">
           <h5>Databases</h5>
           <thead>
            <tr>
                <th> Database Name</th>
                <th> Type</th>
                <th> Server</th>
                <th> Status</th>
            </tr>
           </thead>
           <tbody>
            <% for db in @project.db_resources %>
                <% if db.active %>
                 <tr>
                    <td>
                        <a href="/dbs/<%= db.id %>" >
                            <%= db.name %>
                        </a>
                    </td>
                    <td>
                        <%= db.type %>
                    </td>
                    <td>
                        <%= db.server %>
                    </td>
                    <td>
                        <%= db.active ? 'Active' : 'Inactive' %>
                    </td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
         </table>
         <br>
         </td>
    <% end %>
    </tbody>
  </table>
<% end %>
</div>
