<div class='container'>
<legend>
  <h2><%= @client.name %> -
    <a href="/clients/<%= @client.id %>/billing"> Billing </a>
  </h2>
</legend>
<p>
    <b>Name:</b> <%= @client.contact_name %> <br>
    <b>Email:</b> <%= @client.contact_email %> <br>
    <b>Description:</b> <%= @client.description %> <br>
    <b><a href="/clients/<%= @client.id %>/edit"> Edit</a></b></br>
</p>
<br>

<% if @projects.empty? %>
  <p>
    <%= @client.name %> has no projects
  </p>
<% else %>
  <% if @client.name != 'default' %>
    <% @client_data.each do |project_name, array_hash| %>
      <% array_hash[0].each do |resource_type, resource_hash| %>
        <table class='table'>
          <h4><%= resource_type == 'db' ? 'Database' : resource_type.capitalize %></h4>
          <thead>
            <% unless resource_hash[0].values[0].nil?%>
              <% @keys = resource_hash[0].values[0].keys - ['id'] %>

              <tr>
                <th>Name</th>
                <% @keys.each do |k| %>
                  <% if k == 'DBSize' %>
                    <th>
                      Database Size
                    </th>
                  <% elsif k == 'VCPUCount' %>
                    <th>
                      CPU Count
                    </th>
                  <% else %>
                    <th>
                      <%= k.scan(/[A-Z][a-z]+/).reject(&:empty?).join(' ') %>
                    </th>
                  <% end %>
                <% end %>
              </tr>
            <% end %>
          </thead>
          <tbody>
            <% resource_hash[0].each do |resource_name, resource_values| %>
              <tr>
                <td><%= resource_name %></td>
                <% resource_values.each do |key, value| %>
                  <% next if key == 'id' %>
                  <td><%= value %></td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
          <tfoot>
            <tr>
              <% if @keys.nil? %>
                There are no resources
                <% else %>
                <td><b>Total:</b></td>
                <% @keys.each do |k| %>
                  <td>
                    <b>
                      <%= @sum_data[k] unless !@sum_data.has_key?(k) %>
                      <%= "GB" unless %w(DiskTemplate VCPUCount).include?(k) %>
                    </b>
                  </td>
                <% end %>
              <% end %>
            </tr>
          </tfoot>
        </table>
        <br>
      <% end %>
    <% end %>
  <% end %>
<% end %>
</div>
