<div class='container'>
<h2> Client: <%= @client.name %> -
<a href="/clients/<%= @client.id %>/edit"> Edit</a>
</h2>
<p>
    <b>Name:</b> <%= @client.contact_name %> <br>
    <b>Email:</b> <%= @client.contact_email %> <br>
    <b>Description:</b> <%= @client.description %> <br>
    <%= @client.active ? 'Active' : 'Inactive' %><br>
    <a href="/clients/<%= @client.id %>/billing"> <h4>Billing</h4> </a>
</p>
<br>

<% if @projects.empty? %>
  <p>
    <%= @client.name %> has no projects
  </p>
<% else %>
  <% if @client.name != 'default' %>
    <% @client_data.each do |project_name, array_hash| %>
      <% array_hash[0].each do |resource_type, resource_hash| %>
        <table class='table'>
          <h4><%= resource_type == 'db' ? 'Database' : resource_type.capitalize %></h4>
          <thead>
            <% @keys = resource_hash[0].values[0].keys - ['id'] %>
            <tr>
              <th>Name</th>
              <% @keys.each do |k| %>
                <% if k == 'DBSize' %>
                  <th>Database Size</th>
                <% elsif k == 'VCPUCount' %>
                  <th>CPU Count</th>
                <% else %>
                  <th><%= k.underscore.humanize.titleize %></th>
                <% end %>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <% resource_hash[0].each do |resource_name, resource_values| %>
              <tr>
                <td><%= resource_name %></td>
                <% resource_values.except('id').each do |key, value| %>
                  <td><%= value %></td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
          <tfoot>
            <tr>
              <td><b>Total:</b></td>
              <% @keys.each do |k| %>
                <td><b><%= @sum_data[k] unless !@sum_data.has_key?(k)%></b></td>
              <% end %>
            </tr>
          </tfoot>
        </table>
        <br>
      <% end %>
    <% end %>
  <% end %>
<% end %>
</div>
