<div class="container">
<h2> Client: <%= @client.name %>
<a href="/clients/<%= @client.id %>/edit">edit</a>
</h2>
<p>
    Name: <%= @client.contact_name %> <br>
    Email: <%= @client.contact_email %> <br>
    Description: <%= @client.description %> <br>
    <%= @client.active ? 'Active' : 'Inactive' %><br>
    <a href="/clients/<%= @client.id %>/billing"> <h4>Billing</h4> </a>
</p>

<% if @projects.empty? %>
  <p>
    <%= @client.name %> has no projects
  </p>
<% else %>
  <% if @client.name != 'default' %>
    <% Report.plugin_matrix.each do |resource_type, resource_measurements| %>
      <table class="table">
        <thead>
          <h4><%= resource_type.capitalize%></h4>
          <th>Name</th>
          <%resource_measurements.each do |header| %>
            <th><%= header %></th>
          <% end %>
        </thead>
        <tbody>
          <% @client_data.each do |project_name, project_resource|%>
            <% project_resource.each do |resource|%>
              <% resource[resource_type][0].each do |name, res_hash| %>
              <tr>
                <% res_hash.each do |key, value| %>
                  <% if key == 'id' %>
                    <td>
                      <a href="/<%= resource_type %>/<%=value%>"><%= name %></a>
                    </td>
                  <% elsif key != 'drdb'%>
                    <td>
                      <%= value %>
                    </td>
                  <% end %>
                <% end %>
                </tr>
              <% end %>
            <% end %>
          <% end %>
        </tbody>
      </table>
    <% end %>
  <% end %>
<% end %>
</div>
