<div class="container">
<h2> Client: <%= @client.name %>
<a href="/clients/<%= @client.id %>/edit">edit</a>
</h2>
<p>
    Name: <%= @client.contact_name %> <br>
    Email: <%= @client.contact_email %> <br>
    Description: <%= @client.description %> <br>
    <%= @client.active ? 'Active' : 'Inactive' %>
</p>
<% unless @projects.nil? %>
    <table class="table">
        <h4> Projects </h4>
        <thead>
            <tr>
                <th> Name</th>
                <th> Description</th>
                <th> Status</th>
            </tr>
        </thead>
        <tbody>
         <% for @project in @projects %>
            <tr>
                <td>
                    <a href="/projects/<%= @project.id %>" >
                        <%= @project.name %>
                    </a>
                </td>
                <td>
                    <%= @project.description %>
                </td>
                <td>
                    <%= @project.active ? 'Active' : 'Inactive' %>
                </td>
            </tr>
            <% end %>
    </tbody>
  </table>


<br>
    <table class="table">
        <h4> Nodes </h4>
        <thead>
            <tr>
                <th> Name</th>
                <th> Type</th>
                <th> Cluster</th>
                <th> Status</th>
            </tr>
        </thead>
        <tbody>
        <% for @node in @nodes %>
           <% @node.each do |sub| %>
            <% if sub.active %> 
                <tr>
                    <td>
                        <a href="/nodes/<%= sub.id %>" >
                             <%= sub.name %>
                        </a>
                    </td>
                    <td>
                        <%= sub.type %>
                    </td>
                    <td>
                        <%= sub.cluster %>
                    </td>
                    <td>
                        <%= sub.active ? 'Active' : 'Inactive' %>
                    </td>
                </tr>
            <% end %>
         <% end %>
      <% end %>
      </tbody>
</table>

<br>

    <table class="table">
    <h4> Databases </h4>
     <thead>
           <tr>
             <th> Name</th>
             <th> Type</th>
             <th> Server</th>
             <th> Status</th>
            </tr>
    </thead>
    <tbody>
       <% for @db in @dbs %>
        <% @db.each do |dbsub| %>
           <% if dbsub.active %>
             <tr>
                <td>
                   <a href="/dbs/<%= dbsub.id %>" >
                     <%= dbsub.name %>
                   </a>
                </td>
                <td>
                     <%= dbsub.type %>
                </td>
                <td>
                     <%= dbsub.server %>
                </td>
                <td>
                    <%= dbsub.active ? 'Active' : 'Inactive'%>
                </td>
              </tr>
          <% end %>
      <% end %>
     <% end %> 
   </tbody>
</table>
<% end %>
<br>

</div>
