<div class="container">
<h2> Client: <%= @client.name %>
<a href="/clients/<%= @client.id %>/edit">edit</a>
</h2>
<p>
    Name: <%= @client.contact_name %> <br>
    Email: <%= @client.contact_email %> <br>
    Description: <%= @client.description %> <br>
    <%= @client.active ? 'Active' : 'Inactive' %><br>
    <a href="/clients/<%= @client.id %>/billing"> <h4>Billing</h4> </a>
</p>

<% if @projects.empty? %>
  <p>
    <%= @client.name %> has no projects
  </p>
<% else %>
  <% if @client.name != 'default' %>
    <% Report.plugin_matrix.each do |resource_type, resource_measurements| %>
      <table class="table">
        <thead>
          <h4><%= resource_type.capitalize%></h4>
          <%resource_measurements.each do |title| %>
            <th><%= title %></th>
          <% end %>
        </thead>
        <tbody>
          <% @client_data.each do |project_name, project_resource|%>
            <% project_resource.each do |resource|%>
              <% resource.each do |resource_type, resource_array|%>
                <% unless resource_array[0].empty?%>
                <tr>
                  <% resource_array[0].each do |resource_name, meas_hash|%>
                    <% meas_hash.each do |meas, value|%>
                      <% value = 0 if meas_hash.empty?%>
                      <td><%= value%></td>
                    <% end # end meas_hash%>
                  <% end #end resource_array%>
                </tr>
                <% end #end unless%>
              <% end #end resource%>
            <% end #edn project_resource%>
          <% end # end input_hash%>
        </tbody>
      </table>
  <% end %><!-- end Report-->
  <% end %> <!-- end if client is def -->
<% end %><!-- end if projecys -->
</div>
