<div class="container">
<h2> Client: <%= @client.name %>
<a href="/clients/<%= @client.id %>/edit">edit</a>
</h2>
<p>
    Name: <%= @client.contact_name %> <br>
    Email: <%= @client.contact_email %> <br>
    Description: <%= @client.description %> <br>
    Active: <%= @client.active %>
</p>
<% unless @projects.nil? %>
    <table class="table">
        <h4> Projects </h4>
        <thead>
            <tr>
                <th> Name</th>
                <th> Description</th>
                <th> Active</th>
            </tr>
        </thead>
        <tbody>
         <% for @project in @projects %>
            <tr>
                <td>
                    <a href="/projects/<%= @project.id %>" >
                        <%= @project.name %>
                    </a>
                </td>
                <td>
                    <%= @project.description %>
                </td>
                <td>
                    <%= @project.active %>
                </td>
            </tr>
            <% end %>
    </tbody>
  </table>


<br>
    <table class="table">
        <h4> Nodes </h4>
        <thead>
            <tr>
                <th> Name</th>
                <th> Type</th>
                <th> Cluster</th>
                <th> Active</th>
            </tr>
        </thead>
        <tbody>
        <% for @node in @nodes %>
            <% puts 'for node in nodes' %>
            <% puts @node.inspect %>
            <% if @node[0].active %> 
                <% puts 'node is included!' %>
                <% puts @node.inspect %>
<%#                <% @node = @node.to_s[25..-4] %>
<%#                <% @node = @node.tr(',', ' ').tr('=>' ,' ').split(' ') %>
 <%#               <% puts Hash[@node] %> 
                <tr>
                    <td>
                        <a href="/nodes/<%= @node[0].id %>" >
                             <%= @node[0].name %>
                        </a>
                    </td>
                    <td>
                        <%= @node[0].type %>
                    </td>
                    <td>
                        <%= @node[0].cluster %>
                    </td>
                    <td>
                        <%= @node[0].active %>
                    </td>
                </tr>
            <% end %>
      <% end %>
      </tbody>
</table>

<br>

<% unless @dbs.nil? %>
    <table class="table">
    <h4> Databases </h4>
     <thead>
           <tr>
             <th> Name</th>
             <th> Type</th>
             <th> Server</th>
             <th> Active</th>
            </tr>
    </thead>
    <tbody>
       <% for @db in @dbs %>
           <% if @db.active %>
             <tr>
                <td>
                   <a href="/dbs/<%= @db.id %>" >
                     <%= @db.name %>
                   </a>
                </td>
                <td>
                     <%= @db.type %>
                </td>
                <td>
                     <%= @db.server %>
                </td>
                <td>
                    <%= @db.active %>
                </td>
              </tr>
          <% end %>
      <% end %>
   </tbody>
</table>
<% end %>
<% end %>
<br>

</div>
