<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>Project Name</th>
        <th>Old</th>
        <th>New</th>
      </tr>
    </thead>
    <tbody>
      <form action='/skus' method='post'>
        <input type="hidden" name="_method" value="patch">
        <input type="hidden" name="id" value="<%= @sku.id %>">
        <tr>
          <td>Name</td>
          <td>
            <% if @sku %>
              <%= @sku.name %>
            <% else %>
              N/A
            <% end %>
          </td>
          <td>
            <input type="text" name="name" placeholder="New name">
          </td>
        </tr>
        <tr>
          <td>SKU Number</td>
          <td>
            <% if @sku %>
              <%= @sku.sku_num %>
            <% else %>
              N/A
            <% end %>
          </td>
          <td>
            <input type="text" name="sku number" placeholder="New SKU number">
          </td>
        </tr>
        <tr>
          <td>Description</td>
          <td>
            <% if @sku %>
              <%= @sku.description %>
            <% else %>
              N/A
            <% end %>
          </td>
          <td>
            <input type="text" name="description" placeholder="New description">
          </td>
        </tr>
        <tr>
          <td>Family</td>
          <td>
            <% if @sku %>
              <%= @sku.family %>
            <% else %>
              N/A
            <% end %>
          </td>
          <td>
            <input type="text" name="family" placeholder="New family">
          </td>
        </tr>
        <tr>
          <td>Rate</td>
          <td>
            <% if @sku %>
              <%= @sku.rate %>
            <% else %>
              N/A
            <% end %>
          </td>
          <td>
            <input type="text" name="rate" placeholder="New rate">
          </td>
        </tr>
        <tr>
          <td>
            <input type="submit" value="Update" class="btn btn-primary">
          </td>
          <td>
          </form>
          <form action="/skus/<%= @sku.id %>" method='post'>
            <input type="hidden" name="_method" value="delete">
            <input type="submit" value="Delete" class="btn btn-primary">
          </form>
          </td>
        </tr>
      </tbody>
    </table>
  </form>
</div>
