<div class="container">

  <table class="table">
    <h3>
      <%= @Sku.name %> - Database Summary
    </h3><br>
      <% if @data['sku'][0].zero? %>
        <h4><%= @sku.name %> has no database resources</h4>
      <% else %>
        <thead>
          <tr>
            <th>Name</th>
            <th>DBSize</th>
          </tr>
        </thead>
        <tbody>
          <% @data["sku"][1].each do |resource_hash| %>
            <tr>
              <td>
                <% resource_hash[1].each do |k, v| %>
                  <% if k == 'id' %>
                    <a href="/sku/<%= v %>" >
                      <%= resource_hash[0] %>
                    </a>
                  <% end %>
                <% end %>
              </td>
              <% resource_hash[1].each do |r_meas| %>
                <% if r_meas[0] != 'id' && r_meas[0] != 'page_count' %>
                  <td>
                    <%= r_meas[1] %>
                  </td>
                <%end %>
              <% end %>
          </tr>
        <% end %>
      </tbody>
    <% end %>
  </table>
  <ul class="pagination pagination-sm">
    <li class="paginate_button">
      <% 1.upto(@data['db'][0]) do |i| %>
        <a href="/sku/summary/<%= @sku.id %>/<%= i %>">
          <%= "#{i}" %>
        </a>
        <li class="paginate_button">
      <% end %>
        </li>
    </li>
  </ul>
</div>
