<div class="container">
    <table class="table">
      <thead>
        <tr>
          <th>Node Name</th>
          <th>Old</th>
          <th>New</th>
        </tr>
      </thead>
      <tbody>
        <form action='/nodes' method='post'>
          <input type="hidden" name="_method" value="patch">
          <input type="hidden" name="id" value="<%= @node.id %>">
          <tr>
            <td>Name</td>
            <td>
              <% if @node %>
                <%= @node.name %>
              <% else %>
                N/A
              <% end %>
            </td>
            <td>
              <input type="text" name="name" placeholder="New name">
            </td>
          </tr>
          <tr>
            <td>Project</td>
            <td>
              <% if @project %>
                <%= @project.name %>
              <% else %>
                N/A
              <% end %>
            </td>
            <td>
              <select  name="project_id">
                <% for @project in @projects %>
                  <% if @project.active %>
                    <option value="<%= @project.id %>"><%= @project.name %></option>
                  <% end %>
                <% end %>
              </select>
            </td>
          </tr>
          <tr>
            <td>Type</td>
            <td>
              <% if @node %>
                <%= @node.type %>
              <% else %>
                N/A
              <% end %>
            </td>
            <td>
              <input type="text" name="type" placeholder="New type">
            </td>
          </tr>
          <tr>
            <td>Cluster</td>
            <td>
              <% if @node %>
                <%= @node.cluster %>
              <% else %>
                N/A
              <% end %>
            </td>
            <td>
              <input type="text" name="cluster" placeholder="New cluster">
            </td>
          </tr>
          <tr>
            <td>
              <input type="submit" value="Update" class="btn btn-primary">
            </td>
            <td>
              </form>
              <form action='/nodes' method='post'>
                <input type="hidden" name="_method" value="delete">
                <input type="hidden" name="id" value="<%= @node.id %>">
                <input type="submit" value="Inactive" class="btn btn-primary">
              </form>
            </td>
          </tr>
        </tbody>
      </table>
    </form>
</div>
