<div class="container">
  <legend> Edit Node </legend>

  <form action='/nodes' method='post'>
    <input type="hidden" name="_method" value="patch">
    <input type="hidden" name="id" value="<%= @node.id %>">
    <div class="form-group row">
      <label class="col-md-offset-3 col-md-5 control-label col-md-offset-3">Name</label>
      <div class="col-md-offset-3  col-md-5 inputGroupContainer col-md-offset-3">
        <div class="input-group">
          <span class="input-group-addon">
            <i class="glyphicon glyphicon-briefcase"></i>
          </span>
          <input name="name" placeholder="<%= @node.name %>" class="form-control" type="text">
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-md-offset-3 col-md-5 control-label col-md-offset-3">Project Name</label>
      <div class="col-md-offset-3  col-md-5 inputGroupContainer col-md-offset-3">
        <div class="input-group">
          <span class="input-group-addon">
            <i class="glyphicon glyphicon-list"></i>
          </span>
          <input name="project_id" placeholder="<%= @project.name %>" class="form-control"  type="text">
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-md-offset-3 col-md-5 control-label col-md-offset-3">SKU Name</label>
      <div class="col-md-offset-3  col-md-5 inputGroupContainer col-md-offset-3">
        <div class="input-group">
          <span class="input-group-addon">
            <i class="glyphicon glyphicon-list"></i>
          </span>
          <input name="sku_id" placeholder="<%= @sku.name %>" class="form-control"  type="text">
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-md-offset-3 col-md-5 control-label col-md-offset-3">Type</label>
      <div class="col-md-offset-3  col-md-5 inputGroupContainer col-md-offset-3">
        <div class="input-group">
          <span class="input-group-addon">
            <i class="glyphicon glyphicon-tree-conifer"></i>
          </span>
          <input name="type" placeholder="<%= @node.type %>" class="form-control"  type="text">
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-md-offset-3 col-md-5 control-label col-md-offset-4">Cluster</label>
      <div class="col-md-offset-3  col-md-5 inputGroupContainer col-md-offset-4">
        <div class="input-group">
          <span class="input-group-addon">
            <i class="glyphicon glyphicon-tree-conifer"></i>
          </span>
          <input name="cluster" placeholder="<%= @node.cluster %>" class="form-control"  type="text">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-3">
        <button type="submit" class="btn btn-success" >Update</button>
      </form>
    </div>
    <div class="col-md-3">
      <form action="/nodes/<%= @node.id %>" method='post'>
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Deactivate" class="btn btn-primary">
      </form>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
<br>
