  <br>
  <div class="title">
    <h2>Node List</h2>
    <a href="/node/new">Create</a>
  </div>
  <br>
  <table class="table" style='table-layout:fixed'>
    <thead>
      <tr>
        <th>#</th>
        <th>Node Name</th>
        <th>Type</th>
        <th>Cluster</th>
      </tr>
    </thead>
    <tbody>
    <% for @node in @nodes %>
      <% if @node.active %>
      <tr>
        <th scope="row"><%= @node.id %></th>
          <td>
            <div class="ellipsis">
              <a href="/node/<%= @node.id %>">
                <%= @node.name %>
              </a>
            </div>
          </td>
          <td>
            <div class="ellipsis">
              <%= @node.type %>
            </div>
          </td>
          <td>
            <div class="ellipsis">
              <%= @node.cluster %>
            </div>
          </td>
          <td>
            <div class="ellipsis">
              <a href="/node/<%= @node.id %>/edit" >
                Edit
              </a>
            </div>
          </td>
      </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>
