<div class="container">
  <h2>Node: <%= @node.name %> -
    <a href="/node/<%= @node.id %>/edit">edit</a>
  </h2>
  <p>
    Type: <%= @node.type %><br>
    Cluster: <%= @node.cluster %><br>
    Active: <%= @node.active %><br>
  </p>
  <br>
  <table class="table">
      <thead>
        <tr>
          <th>Project</th>
          <th>Resources</th>
          <th>Description</th>
          <th>Active</th>
        </tr>
      </thead>
      <tbody>
        <% for @project in @projects %>
          <tr>
          <td>
            <a href="/projects/<%= @project.id %>" >
              <%= @project.name %>
            </a>
          </td>
          <td>
            <%= @project.resources %>
          </td>
          <td>
            <%= @project.description %>
          </td>
          <td>
            <%= @project.active %>
          </td>
        </tr>
        <% end %>
      </tbody>
  </table>
  <br>
  <h4>Node Data</h4>
  <sub>
    Last updated:
    <% if @update_time %>
      <%= @update_time %>
    <% else %>
      Unknown
    <% end %>
  </sub>
  <table class="table" >
    <thead>
      <tr>
        <th>VCPUCount</th>
        <th>RamSize</th>
        <th>DiskSize</th>
        <th>DiskTemplate</th>
      </tr>
    </thead>
    <tr>
      <td>
        <%= DataUtil.average_value(@vcpu_data) %>
      </td>
      <td>
        <%= DataUtil.average_value(@ramsize_data) %>
      </td>
      <td>
        <%= DataUtil.average_value(@disksize_data) %>
      </td>
      <td>
        <% if @disktemplate_data != nil && @disktemplate_data.last != nil %>
          <%= @disktemplate_data.last[:value] %>
        <% else %>
          Not found
        <% end %>
      </td>
    </tr>
  </table>

   <br>
  <br>
</div>
