<div class="container">
  <legend><%= @node.name %></legend>
  <p>
    <b>Type:</b> <%= @node.type %><br>
    <b>Cluster:</b> <%= @node.cluster %><br>
    <b>Active:</b> <%= @node.active %><br>
    <% if @projects %>
    <b>Project:</b> <a href="/projects/<%= @projects.id %>" ><%= @projects.name %></a>
    <% else %>
    <b>Project:</b> Unknown
    <% end %><br>
    <b><a href="/node/<%= @node.id %>/edit">Edit</a></b>
  </p>
  <sub>
    Last updated:
    <% if @update_time %>
      <%= @update_time.asctime %>
    <% else %>
      Unknown
    <% end %>
  </sub>

  <table class="table" style='table-layout:fixed'>
    <thead>
      <tr>
        <th>VCPUCount</th>
        <th>RamSize</th>
        <th>DiskSize</th>
        <th>DiskTemplate</th>
      </tr>
    </thead>
    <tr>
      <td>
        <%= DataUtil.average_value(@vcpu_data) %>
      </td>
      <td>
        <%= DataUtil.average_value(@ramsize_data) %>
      </td>
      <td>
        <%= DataUtil.average_value(@disksize_data) %>
      </td>
      <td>
        <% if @disktemplate_data != nil && @disktemplate_data.last != nil %>
          <%= @disktemplate_data.last[:value] %>
        <% else %>
          Not found
        <% end %>
      </td>
    </tr>
  </table>
  <br>
  <br>
</div>
