<div class="container">
  <h2>Node: <%= @node.name %> -
    <a href="/node/<%= @node.id %>/edit">edit</a>
  </h2>
  <p>
    Type: <%= @node.type %><br>
    Cluster: <%= @node.cluster %><br>
    Active: <%= @node.active %><br>
    <% if @projects %>
    Project: <a href="/projects/<%= @projects.id %>" ><%= @projects.name %></a>
    <% else %>
    Project: Unknown
    <% end %>
  </p>
  <h4>Node Data</h4>
  <sub>
    Last updated:
    <% if @update_time %>
      <%= @update_time.asctime %>
    <% else %>
      Unknown
    <% end %>
  </sub>
  <table class="table" style='table-layout:fixed'>
    <thead>
      <tr>
        <th>VCPUCount</th>
        <th>RamSize</th>
        <th>DiskSize</th>
        <th>DiskTemplate</th>
      </tr>
    </thead>
    <tr>
      <td>
        <%= DataUtil.average_value(@vcpu_data) %>
      </td>
      <td>
        <%= DataUtil.average_value(@ramsize_data) %>
      </td>
      <td>
        <%= DataUtil.average_value(@disksize_data) %>
      </td>
      <td>
        <% if @disktemplate_data != nil && @disktemplate_data.last != nil %>
          <%= @disktemplate_data.last[:value] %>
        <% else %>
          Not found
        <% end %>
      </td>
    </tr>
  </table>

   <br>
  <br>
</div>
