<div class="container">
  <h2>Node: <%= @node.name %> -
    <a href="/node/<%= @node.id %>/edit">edit</a>
  </h2>
  <p>
    Type: <%= @node.type %><br>
    Cluster: <%= @node.cluster %><br>
    Active: <%= @node.active %><br>
  </p>
  <br>
  <h4>Projects</h4>
  <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Cluster</th>
          <th>Active</th>
        </tr>
      </thead>
      <tbody>
        <% for @project in @projects %>
          <tr>
          <td>
            <a href="/projects/<%= @project.id %>" >
              <%= @project.name %>
            </a>
          </td>
          <td>
            <%= @project.resources %>
          </td>
          <td>
            <%= @project.description %>
          </td>
          <td>
            <%= @project.active %>
          </td>
        </tr>
        <% end %>
      </tbody>
  </table>
  <br>
  <h4>Node Data</h4>
  <table class="table" >
    <thead>
      <tr>
        <th>VCPUCount</th>
        <th>RamSize</th>
        <th>DiskSize</th>
        <th>DiskTemplate</th>
      </tr>
    </thead>
    <tr>
      <td>
        <% data = VCPUCount.new.report({node: @node.name}) %>
        <%= DataUtil.average_value(data) %>
      </td>
      <td>
        <% data = RamSize.new.report({node: @node.name}) %>
        <%= DataUtil.average_value(data) %>
      </td>
      <td>
        <% data = DiskSize.new.report({node: @node.name}) %>
        <%= DataUtil.average_value(data) %>
      </td>
      <td>
        <% data = DiskTemplate.new.report({node: @node.name}) %>
        <% if data != nil && data.last != nil %>
          <%= data.last[:value] %>
        <% else %>
          Not found
        <% end %>
      </td>
    </tr>
  </table>
  
   <br>
  <br>
</div>
