<div class="container">
  <legend>
    <h2><%= @node.name %> -
      <a href="/node/<%= @node.id %>/edit">Edit</a>
    </h2>
  </legend>
  <p>
    <b>Type:</b> <%= @node.type %><br>
    <b>Cluster:</b> <%= @node.cluster %><br>
    <% if @project %>
    <b>Project:</b> <a href="/projects/<%= @project.id %>" ><%= @project.name %></a>
    <% else %>
    <b>Project:</b> Unknown
    <% end %><br>
    <b>SKU:</b>
    <% if @sku %>
      <%= @sku.name %>
    <% else %>
      None
    <% end %><br>
    <b>Last updated:</b>
    <% if @update_time %>
      <%= @update_time.asctime %>
    <% else %>
      Unknown
    <% end %><br>
   <%= @node.active ? "Active" : "Inactive" %> <br>
  </p>

  <h3>Node Data</h3>
  <table class="table" style='table-layout:fixed'>
    <thead>
      <tr>
        <th>CPU Count</th>
        <th>Ram Size</th>
        <th>Disk Size</th>
        <th>Disk Template</th>
      </tr>
    </thead>
    <tr>
      <td>
        <%= DataUtil.unit_conversion('VCPUCount',DataUtil.average_value(@vcpu_data)) %>
      </td>
      <td>
        <%= DataUtil.unit_conversion('RamSize',DataUtil.average_value(@ramsize_data)) %>
        GB
      </td>
      <td>
        <%= DataUtil.unit_conversion('DiskSize',DataUtil.average_value(@disksize_data)) %>
        GB
      </td>
      <td>
        <% if @disktemplate_data != nil && @disktemplate_data.last != nil %>
          <%= @disktemplate_data.last[:value] %>
        <% else %>
          Not found
        <% end %>
      </td>
    </tr>
  </table>

   <br>
  <br>
</div>
