<div class="page-header">
  <h1>Projects</h1>
</div>

<div class="panel-group">
  <% for @project in @projects %>
    <div class="panel panel-default">
      <%# Project heading %>
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#project-<%= @project.id %>">
            <%= @project.name %>
          </a>
        </h4>
      </div>

      <%# Project body %>
      <div id="project-<%= @project.id %>" class="panel-collapse collapse">
        <div class="panel-body">
          <%# Client name %>
          <p>
            Client:
            <a href="/clients/<%= @project.client_id %>">
              <%= Client[id: @project.client_id].name %>
            </a>
          </p>

          <%# Resources used %>
          <p>
            Resources: <%= @project.resources.gsub(/,/, ', ') %>
          </p>

          <%# Project info table %>
          <table class="table table-bordered table-hover">
            <tr>
              <td>
                Node: FQDN
              </td>
              <td>
                VCPUCount
              </td>
              <td>
                RamSize
              </td>
              <td>
                DiskSize
              </td>
              <td>
                DiskTemplate
              </td>
            </tr>
            <%  NodeResource.filter(project_id: @project.id).each do |n| %>
              <tr>
                <td>
                  <%= n.name %>
                </td>
                <td>
                  <% data = VCPUCount.new.report({node: n.name}) %>
                  <%= DataUtil.average_value(data) %>
                </td>
                <td>
                  <% data = RamSize.new.report({node: n.name}) %>
                  <%= DataUtil.average_value(data) %>
                </td>
                <td>
                  <% data = DiskSize.new.report({node: n.name}) %>
                  <%= DataUtil.average_value(data) %>
                </td>
                <td>
                  <% data = DiskTemplate.new.report({node: n.name}) %>
                  <%= data[0][:value] %>
                </td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>
    </div>
  <% end %>
</div>
