  <br>
  <div class="title">
    <h2>Project List</h2>
    <a href="/projects/new">Create</a>
  </div>
  <br>
  <table class="table" style='table-layout:fixed'>
    <thead>
      <tr>
        <th>#</th>
        <th>Project Name</th>
        <th>Resources</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
    <% for @project in @projects %>
      <% if @project.active %>
      <tr>
        <th scope="row"><%= @project.id %></th>
          <td>
            <div class="ellipsis">
              <a href="/projects/<%= @project.id %>/">
                <%= @project.name %>
              </a>
            </div>
          </td>
          <td>
            <div class="ellipsis">
              <%= @project.resources %>
            </div>
          </td>
          <td>
            <div class="ellipsis">
              <%= @project.description %>
            </div>
          </td>
          <td>
            <div class="ellipsis">
              <a href="/projects/<%= @project.id %>/edit" >
                Edit
              </a>
            </div>
          </td>
      </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>
