<div class="container">

  <h2>Project: <%= @project.name %> -
    <a href="/projects/<%= @project.id %>/edit">edit</a>
  </h2>
  <p>
    Id: <%= @project.id %> <br>
    Resources: <%= @project.resources %> <br>
    Description: <%= @project.description %> <br>
    Active: <%= @project.active %>
  </p>
</div>
