<div class="container">
  <h2>Project: <%= @project.name %> -
    <a href="/projects/<%= @project.id %>/edit">edit</a>
  </h2>
  <p>
    <% if @client.active %>
      Client:
        <a href="/clients/<%= @client.id %>" >
          <%= @client.name %>
        </a>
    <% end %>

    <br>
    Description: <%= @project.description %> <br>
    <%= @project.active ? "Active" : "Inactive" %><br><br>

    <% Report.plugin_matrix. each do |resource_type, resource_meas| %>
      <table class="table">
        <h3>
          <a href="/<%=resource_type%>/summary">
            <%=resource_type.capitalize%>
          </a>
        </h3>
        <% @res = @project.send("#{resource_type}_resources") %>
        <thead>
          <% @res[0].each do |key, value| %>
            <% unless key==:id || key==:project_id || key==:created || key==:modified || key==:active %>
              <th>
                <%= key %>
              </th>
            <% end %>
          <% end %>
        </thead>
        <tbody>
          <% @res.each do |key, value| %>
            <tr>
            <% key.each do |k, v| %>
                <% unless k==:id || k==:project_id || k==:created || k==:modified || k==:active %>
                  <td>
                    <% if k==:name %>
                     <a href="/<%=resource_type%>/<%=key[:id]%>">
                      <%= v %>
                     </a>
                    <% else %>
                      <%= v %>
                    <% end %>
                  </td>
                <% end %>
            <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </p>
</div>
