<div class="container">
  <h2>Project: <%= @project.name %> -
    <a href="/projects/<%= @project.id %>/edit">edit</a>
  </h2>
  <p>
    <% if @clients[0].active %>
      Client:
        <a href="/clients/<%= @clients[0].id %>" >
          <%= @clients[0].name %>
        </a>
    <% end %>

    <br>
    Description: <%= @project.description %> <br>
    <%= @project.active ? "Active" : "Inactive" %>
  <br>
  <br>
  <h4>Nodes</h4>

  <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Cluster</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
      <% if @nodes %>
        <% for @node in @node_pages %>
          <tr>
            <td>
              <a href="/node/<%= @node[:id] %>" >
                <%= @node[:name] %>
              </a>
            </td>
            <td>
              <%= @node[:type] %>
            </td>
            <td>
              <%= @node[:cluster] %>
            </td>
            <td>
              <%= @node[:active] ? "Active" : "Inactive" %>
            </td>
        <% end %>
      <% end  %>
      </tbody>
  </table>
  <ul class="pagination">
    <li class="paginate_button previous disabled">
      <a href="#">Previous</a></li><li class="paginate_button active">
      <a href="#">1</a></li><li class="paginate_button">
      <a href="#">2</a></li><li class="paginate_button">
      <a href="#">3</a></li><li class="paginate_button">
      <a href="#">4</a></li><li class="paginate_button">
      <a href="#">Next</a>
    </li>
  </ul>
  <br>
  <br>
  <h4>Databases</h4>
  <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Server</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
      <% if @dbs  %>
        <% for @db in @dbs_pages %>
          <tr>
            <td>
              <a href="/db/<%= @db[:id] %>" >
                <%= @db[:name] %>
              </a>
            </td>
            <td>
              <%= @db[:type] %>
            </td>
            <td>
              <%= @db[:server] %>
            </td>
            <td>
              <%= @db[:active] ? "Active" : "Inactive" %>
            </td>
          </tr>
        <% end %>
      <% end  %>
      </tbody>
  </table>
  <ul class="pagination">
    <li class="paginate_button previous disabled">
      <a href="#">Previous</a></li><li class="paginate_button active">
      <a href="#">1</a></li><li class="paginate_button">
      <a href="#">2</a></li><li class="paginate_button">
      <a href="#">3</a></li><li class="paginate_button">
      <a href="#">4</a></li><li class="paginate_button">
      <a href="#">Next</a>
    </li>
  </ul>
  <br>
  <br>
</div>
