<div class="container">
  <h2>Project: <%= @project.name %> -
    <a href="/projects/<%= @project.id %>/edit">edit</a>
  </h2>
  <p>
    <% if @client.active %>
      Client:
        <a href="/clients/<%= @client.id %>" >
          <%= @client.name %>
        </a>
    <% end %>

    <br>
    Description: <%= @project.description %> <br>
    <%= @project.active ? "Active" : "Inactive" %><br>

    <% if @data.empty? %>
      <p>
        <%= @project.name %> has no resources
      </p>
    <% else %>
    <% @data.each do |k1, v1| %>
      <% # k1 is the resource type; v1 is the array-hash of the resource %>
      <h4> <%= k1.capitalize %> </h4>
      <table class="table">
        <thead>
          <% if k1 == "db" %>
            <th>Name</th><th>Size</th>
            <th>Type</th><th>Server</th>
          <% elsif k1 == "node" %>
            <th>Name</th><th>DiskSize</th><th>RamSize</th>
            <th>VCPUCount</th><th>DiskTemplate</th>
          <% end %>
        </thead>
        <tbody>
          <% v1.each do |resource| %>

            <% resource.each do |k2, v2| %>
            <% # k2 is the resource's name; v2 is hash of measurments %>
              <tr>
                <td> <%= k2 %> </td>
                <% v2.each do |k3, v3| %>
                  <td> <%= v3 %> </td>
                <% end %>
                <% if k1 == "db" %>

                <% end %>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
      <% end %>
    <% end %>
  <!-- <br>
  <br>
  <h4>Nodes</h4> -->

  <!-- <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Cluster</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
      <% if @nodes %>
        <% for @node in @nodes %>
          <tr>
            <td>
              <a href="/node/<%= @node[:id] %>" >
                <%= @node.name %>
              </a>
            </td>
            <td>
              <%= @node.type %>
            </td>
            <td>
              <%= @node.cluster %>
            </td>
            <td>
              <%= @node.active ? "Active" : "Inactive" %>
            </td>
        <% end %>
      <% end  %>
      </tbody>
  </table>
  <br>
  <br>
  <h4>Databases</h4>
  <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Server</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
      <% if @dbs  %>
        <% for @db in @dbs %>
          <tr>
            <td>
              <a href="/db/<%= @db[:id] %>" >
                <%= @db[:name] %>
              </a>
            </td>
            <td>
              <%= @db[:type] %>
            </td>
            <td>
              <%= @db[:server] %>
            </td>
            <td>
              <%= @db[:active] ? "Active" : "Inactive" %>
            </td>
          </tr>
        <% end %>
      <% end  %>
      </tbody>
  </table>
  <br>
  <br> -->
</p>
</div>
