<div class="container">
  <h2>Project: <%= @project.name %> -
    <a href="/projects/<%= @project.id %>/edit">edit</a>
  </h2>
  <p>
    <% if @client.active %>
      Client:
        <a href="/clients/<%= @client.id %>" >
          <%= @client.name %>
        </a>
    <% end %>

    <br>
    Description: <%= @project.description %> <br>
    <%= @project.active ? "Active" : "Inactive" %><br><br>

    <% Report.plugin_matrix.each do |resource, measurements| %>
      <% if @data[resource][0] == 0 %>
        <p>
          <%= @project.name %> has no  <%= resource %> resources
        </p><br>
      <% else %>
        <table class="table">
          <thead>
            <h4><%= "#{resource}".capitalize %></h4>
            <tr>
              <th>Name</th>
              <% measurements.each do |meas| %>
                <th><%= "#{meas}" %></th>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <% @data[resource][1].each do |resource_hash| %>
                <tr>
                  <td>
                    <% resource_hash[1].each do |k, v| %>
                      <% if k == 'id' %>
                        <a href="/<%= resource %>/<%= v %>" >
                          <%= resource_hash[0] %>
                        </a>
                      <% end %>
                    <% end %>
                  </td>
                  <% resource_hash[1].each do |r_meas| %>
                    <% if r_meas[0] != 'id' && r_meas[0] != 'page_count' %>
                      <td>
                        <%= r_meas[1] %>
                      </td>
                    <%end %>
                  <% end %>
                 </tr>
            <% end %>
          </tbody>
        </table>
        <ul class="pagination pagination-sm">
          <li class="paginate_button">
            <% 1.upto(@data[resource][0]) do |i| %>
              <a href="/projects/<%= @project.id %>/<%= i %>"> <%= "#{i}" %></a>
              <li class="paginate_button">
            <% end %>
          </li>
        </li>
        </ul>
      <% end %>
    <% end %>
  </p>
</div>
