<div class="container">
  <h2>Project: <%= @project.name %> -
    <a href="/projects/<%= @project.id %>/edit">edit</a>
  </h2>
  <p>
    <% if @client.active %>
      Client:
        <a href="/clients/<%= @client.id %>" >
          <%= @client.name %>
        </a>
    <% end %>

    <br>
    Description: <%= @project.description %> <br>
    <%= @project.active ? "Active" : "Inactive" %><br><br>

    <% Report.plugin_matrix.each do |resource_type, _resource_meas| %>
    <table class="table">
      <h3>
        <a href="/<%= resource_type %>/summary/<%= @project.id %>">
          <%=resource_type.capitalize%>
        </a>
      </h3>
      <% @resource = @project.send("#{resource_type}_resources") %>
      <% if @resource[0].nil? %>
        <%= @project.name %> has no <%= resource_type %> resources
      <% else %>
        <thead>
          <% @resource[0].each do |res_key, _value| %>
            <% unless res_key==:id || res_key==:project_id || res_key==:created || res_key==:modified || res_key==:active %>
              <th>
                <%= res_key %>
              </th>
            <% end %>
          <% end %>
        </thead>
        <tbody>
          <% @resource.each do |res_hash, _value| %>
          <tr>
            <% if res_hash[:active] %>
              <% res_hash.each do |k, v| %>
              <% next if k==:id || k==:project_id || k==:created || k==:modified || k==:active %>
               <td>
                <% if k==:name %>
                  <a href="/<%=resource_type%>/<%=res_hash[:id]%>">
                    <%= v %>
                  </a>
                <% else %>
                  <%= v %>
                <% end %>
              </td>
            <% end %>
          <% end %>
          </tr>
        <% end %>
      </tbody>
      <% end %>
    </table>
    <% end %>
  </p>
</div>
