<div class="container">
  <legend>
    <h2><%= @project.name %> -
      <a href="/projects/<%= @project.id %>/edit">Edit</a>
    </h2>
  </legend>
  <p>
    <% if @client.active %>
      <b>Client:</b>
        <a href="/clients/<%= @client.id %>" >
          <%= @client.name %>
        </a>
    <% end %><br>
    <b>Description:</b> <%= @project.description %> <br>
  </p>

  <% if @project_data.empty? %>
    <p>
      <%= @project.name has no resources %>
    </p>
  <% else %>
    <% if @project.name != 'default' %>
      <% @project_data.each do |res_type, res_array| %>
        <h3>
          <%= res_type == 'db' ? 'Database' : res_type.capitalize %>
          <a href="/<%= res_type %>/summary/<%= @project.id %>">
            - Summary
          </a>
        </h3>
        <table class="table">
          <% if @project_data.values[0].empty? %>
            <%= @project.name %> has no <%= res_type %> resources
          <% else %>
          <thead>
            <% keys = res_array[0].keys %>
            <% keys.each do |key| %>
              <% next if @exclude_keys.include?(key) %>
              <th><%= key.capitalize %></th>
            <% end %>
          </thead>
          <tbody>
            <% res_array.each do |entry| %>
              <tr>
               <% next unless entry.active %>
              <% entry.each do |key, value | %>
              <% next if @exclude_keys.include?(key) %>
              <td>
                <% if key == :name %>
                  <a href="/<%=res_type%>/<%=res_array[0][:id]%>">
                    <%= value %>
                  </a>
                <% else %>
                  <%= value %>
                <% end %>
              </td>
              <% end %>
              </tr>
            <% end %>
          </tbody>
          <% end %>
        </table>
      <% end %>
    <% end %>
  <% end %>
</div>
