<div class="container">
  <h2>Project: <%= @project.name %> -
    <a href="/projects/<%= @project.id %>/edit">edit</a>
  </h2>
  <p>
    <% if @client.active %>
      Client:
        <a href="/clients/<%= @client.id %>" >
          <%= @client.name %>
        </a>
    <% end %>

    <br>
    Description: <%= @project.description %> <br>
    <%= @project.active ? "Active" : "Inactive" %>

    <% if @data.empty? %>
      <p>
        <%= @project.name %> has no resources
      </p>
    <% else %>
      <% for @val in @data %>
        <h4> <%= @val[0].capitalize %> </h4>
          <table class="table">
            <thead>
              <% if @val[0] == "db" %>
                <th>Size</th><th>Type</th><th>Server</th>
              <% elsif @val[0] == "node" %>
                <th>VCPUCount</th><th>RamSize</th>
                <th>DiskSize</th><th>DiskTemplate</th>
              <% end %>
           </thead>
           <% @val.each do |k, v| %>

           <% end %>
        </table>
      <% end %>
    <% end %>
  <!-- <br>
  <br>
  <h4>Nodes</h4> -->

  <!-- <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Cluster</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
      <% if @nodes %>
        <% for @node in @nodes %>
          <tr>
            <td>
              <a href="/node/<%= @node[:id] %>" >
                <%= @node.name %>
              </a>
            </td>
            <td>
              <%= @node.type %>
            </td>
            <td>
              <%= @node.cluster %>
            </td>
            <td>
              <%= @node.active ? "Active" : "Inactive" %>
            </td>
        <% end %>
      <% end  %>
      </tbody>
  </table>
  <br>
  <br>
  <h4>Databases</h4>
  <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Server</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
      <% if @dbs  %>
        <% for @db in @dbs %>
          <tr>
            <td>
              <a href="/db/<%= @db[:id] %>" >
                <%= @db[:name] %>
              </a>
            </td>
            <td>
              <%= @db[:type] %>
            </td>
            <td>
              <%= @db[:server] %>
            </td>
            <td>
              <%= @db[:active] ? "Active" : "Inactive" %>
            </td>
          </tr>
        <% end %>
      <% end  %>
      </tbody>
  </table>
  <br>
  <br> -->
</p>
</div>
